
.para p{
    text-align: left;
}

.bg-accent{
    font-family: 'DM Sans', sans-serif;
}

.gift2{
    width: 500px !important;
}

.hero3 {
    position: absolute;
    z-index: 1;
    width: 600px !important;

  }

  @media screen and (max-width:600px) {
    
    .gift2{
        width: auto !important;
    }

    .hero3{
        width: auto !important;
    }
  }

  @media (min-width:601px) and (max-width:800px) {
    
    .gift2{
        width: 350px !important;
    }

    .hero3{
        width: 470px !important;
    }
  }