/* .nav_main{
    height: 3rem;
} */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blueviolet;
}

.nav_main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  --tw-backdrop-blur: blur(8px);
  transition-duration: .15s;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  width: 100% !important;
  background-color: hsla(0,0%,100%,.5);
  font-family: 'DM Sans', sans-serif;
  /* opacity: 1.5; */
  /* border: 2px solid black; */
}

.nav_main img {
  width: 10rem;
}

/* .nev{
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
} */

.alna {
  margin-left: 20rem;
  /* float: right; */
}

.hxn {
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: black;
  font-family: 'DM Sans', sans-serif;
}

@media screen and (max-width: 600px) {
  .nav_main {
    width: auto !important;
  }

  .alna {
    margin-left: auto !important;
  }

  .hxn {
    margin-right: auto !important;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .nav_main {
    width: auto !important;
  }

  .alna {
    margin-left: auto !important;
  }

  .hxn {
    margin-right: auto !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav_main {
    width: auto !important;
  }
  .alna {
    margin-left: auto !important;
  }

  .hxn {
    margin-right: auto !important;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .nav_main {
    width: auto !important;
  }
}
