@media screen and (max-width:600px){
    
    .enput input{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .lsc h1{
        font-size: 20px !important;
    }
}

.container{
    font-family: 'DM Sans', sans-serif;
}

.benifits_mmm h1{
    font-weight: 600;
}

.benifits_mmm2 h2{
    font-weight: 600;
}

.plus{
    background-color: rgb(118,74,244);
    color: white;
    font-size: 18px;
}

.minus{
    background-color: rgb(118,74,244);
    color: white;
    font-size: 18px;
}

.mint_in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.mint_bbbb{
    display: flex !important;
    justify-content: center !important;
    margin-top: 100px;
    align-items: center !important;
}